<div class="container">
<nav class="navbar navbar-light navbar-expand-sm">
    <div class="collapse navbar-collapse" id="navbar-list-4">
      <ul class="navbar-nav ml-auto" style="margin-left: auto;">
        <li class="nav-item" style="margin: 20px;">
          <p>{{today | date:'fullDate'}}</p>
        </li>
        <li class="nav-iten" style="margin: 10px;">
          <a class="nav-link"  (click)="showToaster()">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item" style="margin: 18px;">
          <P>John</P>
        </li>  
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink ="/profile" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{imageSrc}}" alt="{{imageAlt}}"width="40" height="40" class="rounded-circle" >
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Dashboard</a>
            <a class="dropdown-item" href="#">Edit Profile</a>
            <a class="dropdown-item" href="#">Log Out</a>
          </div>
        </li>   
        
      </ul>
    </div>
  </nav>
</div>