<div class="container mt-5 mb-5">
    <div>
        <app-navbar></app-navbar>
    </div>
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <div class="p-3 py-5" style="margin-top: -50px;">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <p class="text-right">Hi John,</p>
                </div>
            <div class="row mt-2">
                <div class="col-md-6"><label class="labels">Title</label><input type="text" class="form-control" placeholder="Lorem Ipsum" value=""></div>
                <div class="col-md-6"><label class="labels">Date</label><input type="date" class="form-control" value="" placeholder="06/03/2022"></div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                <label class="labels">Task Description:</label>
                <textarea class="form-control" placeholder="Vestibulum condimentum tellus vitae purus pulvinar, aliquet commodo dui tempus. Aliquam quis ante ut nunc tempus pharetra" id="description" rows="4"></textarea>
            </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6 text-center" style="margin-bottom: -50px;"><button class="btn btn-success task-button" type="button" style="width: 100%;">Add Task</button></div>
            </div>
            
        </div>
    </div>
</div>
</div>