<div class="wrapper">
  <nav aria-label="sidebar" id="sidebar">
    <ul class="components">
      <li>
        <a>
          <i class="fa fa-home" aria-hidden="true"></i>
          Tasks
        </a>
      </li>
      <li>
        <a>
          <i class="fa fa-calendar" aria-hidden="true"></i>
          Reminders
        </a>
      </li>
      <li>
        <a>
          <i class="fa fa-user" aria-hidden="true"></i>
          Account
        </a>
      </li>
    </ul>
  </nav>
  <div id="content">
    <nav aria-label="toggler">
      <button id="sidebarCollapse" type="button" class="btn btn-info navbar-btn">
        <i class="glyphicon glyphicon-align-left"></i>
        <span>Toggle Sidebar</span>
      </button>
    </nav>
  </div>
</div>
