.card{
    border: none;
    margin: 50px;
}
.container{
    margin-top: 100px;
    margin-right: 50px;
}
.col-md-8{
    margin-left: 80px;
}
.btn{
    width:100%;
    color: #ffffff; 
    background-color: #0CA789;
}
.col-md-4{
    background-color:#0CA789; 
    text-align: center;
    margin-left:-50px ;
    border-radius: 5px;
}
img{
    width: 150px; 
    margin-top: 100px;
}
.ultra{
    color: #ffffff; 
    margin-top: 10px;
}
.goals{
    text-align: center;
    color:#ffffff;
    margin-top: 30px;
}