<div class="container rounded bg-white mt-5 mb-5">
    <div>
        <app-navbar></app-navbar>
    </div>
    <div class="row">
        <div class="col-md-4">
            </div>
        <div class="col-md-8 border-right" style="margin-top: -70px;" *ngIf="SignupUsers">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5" *ngFor="let users of SignupUsers">
            <!-- <img class="rounded-circle mt-5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQF2psCzfbB611rnUhxgMi-lc2oB78ykqDGYb4v83xQ1pAbhPiB&usqp=CAU"> -->
            <img class="rounded-circle mt-5" style="width: 100px; height: 100px;" src="{{imageSrc}}" alt="{{imageAlt}}">  
            <span class="font-weight-bold">{{users.Username}}</span>
            <span class="text-black-50">{{users.Email}}</span><span> </span>
            </div>
            <div class="p-3 py-5" style="margin-top: -50px;">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                    <a href="#">
                        <i class="fa fa-pencil" aria-hidden="true">Edit</i>
                        </a>
                    </div>
                <div class="row mt-2" >
                    <div class="col-md-6" *ngFor="let users of SignupUsers"><label class="labels">UserName</label><input type="text" class="form-control" placeholder="" value={{users.Username}}></div>
                    <!-- <div class="col-md-6"><label class="labels">FullName</label><input type="text" class="form-control" value={{SignupUsers.username}} placeholder="FullName"></div> -->
                </div>
                <div class="row mt-3">
                    <div class="col-md-6" *ngFor="let users of SignupUsers"><label class="labels">Email Address:</label><input type="email" class="form-control" placeholder="johndoe@gmail.com" value={{users.Email}}></div>
                    <div class="col-md-6" *ngFor="let users of SignupUsers"><label class="labels">Password:</label><input type="password" class="form-control" placeholder="*********" value={{users.Password}}></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 text-center" style="margin-bottom: -50px;"><button class="btn btn-success profile-button" type="button" style="width: 100%;">Update Profile</button></div>
                    <div class="col-md-6 text-center" style="margin-bottom: -50px;"><button class="btn btn-danger profile-button" type="button" style="width: 100%;">Delete Profile</button></div>
                </div>
                
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div> -->
    </div>
</div>
