<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" style="align-items: center">
    <div class="sidebar-header">
      <h3>Ultra Techies</h3>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a routerLink="/todo">Home</a>
      </li>
      <li>
        <a href="/profile">Profile</a>
      </li>
      <li>
        <a class="button" (click)="Logout()">Logout</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          type="button"
          id="sidebarCollapse"
          class="btn btn-info"
          style="background-color: #0ca789"
        >
          <i class="fa fa-align-left"></i>
          <!-- <span>Toggle Sidebar</span> -->
        </button>
        <button
          class="btn btn-light d-inline-block d-lg-none ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto" style="margin-left: auto">
            <li class="nav-item" style="margin: 20px">
              <p>{{ today | date: "fullDate" }}</p>
            </li>
            <li class="nav-item" style="margin: 10px">
              <a class="nav-link" href="#">
                <i class="fa fa-bell-o" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item" style="margin: 18px">
              <p *ngFor="let users of SignupUser">{{ users.username }}</p>
            </li>
            <li class="nav-item navbar-brand">
              <a routerLink="/profile" role="button">
                <img
                  src="{{ imageSrc }}"
                  alt="{{ imageAlt }}"
                  width="40"
                  height="40"
                  class="rounded-circle"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="col" style="margin-top: 20px" *ngIf="SignupUser">
      <div
        class="d-flex flex-column align-items-center text-center p-3 py-5"
        *ngFor="let users of SignupUser"
      >
        <!-- <img class="rounded-circle mt-5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQF2psCzfbB611rnUhxgMi-lc2oB78ykqDGYb4v83xQ1pAbhPiB&usqp=CAU"> -->
        <img
          class="rounded-circle mt-5"
          style="width: 100px; height: 100px"
          src="{{ imageSrc }}"
          alt="{{ imageAlt }}"
        />
        <span class="font-weight-bold">{{ users.username }}</span>
        <span class="text-black-50">{{ users.email }}</span
        ><span> </span>
      </div>
      <div class="p-3 py-5" style="margin-top: -50px">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
          <a class="btn">
            <i
              (click)="updateProfile()"
              class="fa fa-pencil"
              style="cursor: pointer"
              aria-hidden="true"
            ></i>
          </a>
        </div>
        <div class="row mt-2">
          <div class="col-md-6" *ngFor="let users of SignupUser">
            <label class="labels">UserName</label
            ><input
              type="text"
              class="form-control"
              placeholder=""
              value="{{ users.username }}"
            />
          </div>
          <div class="col-md-6" *ngFor="let users of SignupUser">
            <label class="labels">FullName</label
            ><input
              type="text"
              class="form-control"
              placeholder=""
              value="{{ users.name }}"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6" *ngFor="let users of SignupUser">
            <label class="labels">Email Address:</label
            ><input
              type="email"
              class="form-control"
              placeholder=""
              value="{{ users.email }}"
            />
          </div>
          <div class="col-md-6" *ngFor="let users of SignupUser">
            <label class="labels">Password:</label
            ><input
              type="password"
              class="form-control"
              placeholder=""
              value="{{ users.password }}"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6 text-center" style="margin-bottom: 10px">
            <button
              class="btn btn-success profile-button"
              type="button"
              style="width: 100%"
            >
              Update Profile
            </button>
          </div>
          <div class="col-md-6 text-center" style="margin-bottom: 0px">
            <button
              class="btn btn-danger profile-button"
              type="button"
              style="width: 100%"
            >
              Delete Profile
            </button>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
