<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" style="align-items: center">
    <div class="sidebar-header">
      <h3>Todo App</h3>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a routerLink="/todo">Home</a>
      </li>
      <li>
        <a href="/profile">Profile</a>
      </li>
      <li>
        <a class="button" (click)="Logout()">Logout</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          type="button"
          id="sidebarCollapse"
          class="btn btn-info"
          style="background-color: #0ca789"
        >
          <i class="fa fa-align-left"></i>
          <!-- <span>Toggle Sidebar</span> -->
        </button>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto" style="margin-left: auto">
            <li class="nav-item" style="margin: 20px">
              <p>{{ today | date: "fullDate" }}</p>
            </li>
            <li class="nav-item" style="margin: 10px">
              <a class="nav-link" href="#">
                <i class="fa fa-bell-o" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item" style="margin: 18px">
              <p *ngFor="let users of loggedInUser">{{ users.username }}</p>
            </li>
            <li class="nav-item navbar-brand">
              <a routerLink="/profile" role="button">
                <img
                  src="{{
                    photo[0][1] ? photo[0][1] : '../../assets/images/Avatar.png
                  }}"
                  alt="{{ imageAlt }}"
                  width="40"
                  height="40"
                  class="rounded-circle"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="col" style="margin-top: 20px">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <!-- <img class="rounded-circle mt-5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQF2psCzfbB611rnUhxgMi-lc2oB78ykqDGYb4v83xQ1pAbhPiB&usqp=CAU"> -->
        <img
          class="rounded-circle mt-5"
          style="width: 100px; height: 100px"
          src="{{ photo[0][1] }}"
          alt="{{ imageAlt }}"
        />
        <span class="font-weight-bold">{{ username[0][1] }}</span>
        <span class="text-black-50">{{ emailAddress[0][1] }}</span
        ><span> </span>
      </div>
      <div class="p-3 py-5" style="margin-top: -50px">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
        </div>
        <form>
          <form [formGroup]="updateUserForm" (Submit)="updateProfile(userID)">
            <div class="form-group">
              <label for="username">Enter Your Username:</label>
              <input
                formControlName="Username"
                type="text"
                class="form-control"
                id="username"
                autocomplete="disabled"
                placeholder="{{ username[0][1] }}"
              />
              <span
                class="text-danger"
                *ngIf="
                  updateUserForm.controls['Username'].dirty &&
                  updateUserForm.hasError('required', 'Username')
                "
                >Username is required</span
              >
            </div>
            <div class="form-group">
              <label for="emailaddress"> Enter Your Email address:</label>
              <input
                formControlName="Email"
                type="email"
                class="form-control"
                id="emailaddress"
                autocomplete="disabled"
                placeholder="{{ emailAddress[0][1] }}"
              />
              <span
                class="text-danger"
                *ngIf="
                  updateUserForm.controls['Email'].dirty &&
                  updateUserForm.hasError('email', 'Email')
                "
                >Email is required</span
              >
            </div>
            <div class="form-group">
              <label for="pwd">Enter Password:</label>
              <input
                formControlName="Password"
                type="password"
                class="form-control"
                id="pwd"
                placeholder="********"
              />
              <span
                class="text-danger"
                *ngIf="
                  updateUserForm.controls['Password'].dirty &&
                  updateUserForm.hasError('required', 'Password')
                "
                >Password is required</span
              >
            </div>
          </form>
          <div class="row mt-3">
            <div class="col-md-6 text-center" style="margin-bottom: -50px">
              <button
                class="btn btn-success profile-button"
                type="button"
                style="width: 100%"
                (click)="updateProfile(userID)"
              >
                Update Profile
              </button>
            </div>
            <br /><br />
            <div class="col-md-6 text-center" style="margin-bottom: -50px">
              <button
                class="btn btn-danger profile-button"
                type="button"
                style="width: 100%"
                (click)="deleteProfile(userID)"
              >
                Delete Profile
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
